<div class="layui-side layui-bg-black layui-left-black">
	<div class="layui-side-scroll">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="site-h1 ukefu-font" style="text-align:center;">
					${user.username!''}
				</h1>
				<div class="layui-form-item">
					<label class="layui-form-label">姓名：</label>
					<div class="layui-input-block" style="text-align:right;">优客服</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">登陆时间：</label>
					<div class="layui-input-block" style="text-align:right;">${.now?string('HH:mm:ss')}</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">工作时长：</label>
					<div class="layui-input-block" style="text-align:right;">6:43:22</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">接待用户：</label>
					<div class="layui-input-block" style="text-align:right;">45人</div>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-lg-12" style="padding-right:0px;">
				<h1 class="ukefu-h1" style="padding:5px;border-top: 5px solid #e6e6e6;border-bottom: 5px solid #e6e6e6;">
					<a href="">
						<i class="layui-icon">&#xe612;</i>
						我的控制台
					</a>
				</h1>
				<h1 class="site-h1">
					快捷操作
				</h1>
				<ul class="ukewo-btn-group">
					<li>
						<a href="" class="ukefu-bt">
							<i class="layui-icon ukewo-btn">&#xe631;</i>
							<div class="ukefu-bt-text">
								<div class="ukefu-bt-text-title" style="">
										工单信息
								</div>
								<div class="ukefu-bt-text-content" style="">
									需要处理的工单信息
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="" class="ukefu-bt">
							<i class="layui-icon ukewo-btn">&#xe631;</i>
							<div class="ukefu-bt-text">
								<div class="ukefu-bt-text-title" style="">
										工单信息
								</div>
								<div class="ukefu-bt-text-content" style="">
									需要处理的工单信息
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="" class="ukefu-bt">
							<i class="layui-icon ukewo-btn">&#xe631;</i>
							<div class="ukefu-bt-text">
								<div class="ukefu-bt-text-title" style="">
										工单信息
								</div>
								<div class="ukefu-bt-text-content" style="">
									需要处理的工单信息
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="" class="ukefu-bt">
							<i class="layui-icon ukewo-btn">&#xe631;</i>
							<div class="ukefu-bt-text">
								<div class="ukefu-bt-text-title" style="">
										工单信息
								</div>
								<div class="ukefu-bt-text-content" style="">
									需要处理的工单信息
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="" class="ukefu-bt">
							<i class="layui-icon ukewo-btn">&#xe631;</i>
							<div class="ukefu-bt-text">
								<div class="ukefu-bt-text-title" style="">
										工单信息
								</div>
								<div class="ukefu-bt-text-content" style="">
									需要处理的工单信息
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>	
	</div>
</div>
<div class="layui-body">
	<div class="layui-side-scroll">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="site-h1">
					在线客服业务概况
				</h1>
				<div class="row">
					<div class="col-lg-3">
						<div class="ukefu-measure">
							<a href="" class="ukefu-bt"> 
								<i class="layui-icon ukewo-btn ukefu-measure-btn">&#xe631;</i>
								<div class="ukefu-bt-text">
									<div class="ukefu-bt-text-title" style="font-weight:400;font-size:30px;">1540</div>
									<div class="ukefu-bt-text-content" style="">在线用户,需要处理的工单信息</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="ukefu-measure">
							<a href="" class="ukefu-bt"> 
								<i class="layui-icon ukewo-btn ukefu-measure-btn ukefu-bg-color-yellow">&#xe631;</i>
								<div class="ukefu-bt-text">
									<div class="ukefu-bt-text-title" style="font-weight:400;font-size:30px;">1540</div>
									<div class="ukefu-bt-text-content" style="">对话中的用户,需要处理的工单信息</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="ukefu-measure">
							<a href="" class="ukefu-bt"> 
								<i class="layui-icon ukewo-btn ukefu-measure-btn ukefu-bg-color-pink">&#xe631;</i>
								<div class="ukefu-bt-text">
									<div class="ukefu-bt-text-title" style="font-weight:400;font-size:30px;">1540</div>
									<div class="ukefu-bt-text-content" style="">排队中的用户,需要处理的工单信息</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="ukefu-measure">
							<a href="" class="ukefu-bt"> 
								<i class="layui-icon ukewo-btn ukefu-measure-btn ukefu-bg-color-green">&#xe631;</i>
								<div class="ukefu-bt-text">
									<div class="ukefu-bt-text-title" style="font-weight:400;font-size:30px;">1540</div>
									<div class="ukefu-bt-text-content" style="">网站访问量,需要处理的工单信息</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h1 class="site-h1" style="border-top:1px solid #e6e6e6;margin-top:15px;">
					当前在线用户列表
				</h1>
				<table class="layui-table" lay-skin="line">
					<thead>
						<tr class="design-sortable-tr">
							<th>username</th>
							<th>移动端</th>
							<th>操作系统</th>
							<th>浏览器</th>
							<th>访问时间</th>
							<th>停留时间</th>
							<th>地域</th>
						</tr>
					</thead>
					<tbody>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_1sokhv</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-13 21:54:12</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">未分配或者内网IP（127.0.0.1）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_1sei5z</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">IE11</td>
							<td class=" ">2017-01-13 21:55:34</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">未分配或者内网IP（127.0.0.1）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_0sojqt</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-14 15:53:59</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">未分配或者内网IP（127.0.0.1）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_1llehh</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-14 17:16:59</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">未分配或者内网IP（127.0.0.1）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_0v00my</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-14 17:36:07</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">未分配或者内网IP（127.0.0.1）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_1ezcc5</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-16 18:58:33</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">nullnull（169.254.158.7）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_1bt11t</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-16 20:33:50</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">nullnull（169.254.158.7）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_1ciuww</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-16 21:28:44</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">未分配或者内网IP（127.0.0.1）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_1nvf80</td>
							
							<td class=" "><span style=""> 
								<i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-17 23:39:01</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">nullnull（127.0.0.1）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_0hbrhp</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-14 18:08:40</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">未分配或者内网IP（127.0.0.1）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_1j9j49</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-16 18:58:33</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">nullnull（127.0.0.1）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_1uubxa</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-16 20:09:30</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">未分配或者内网IP（127.0.0.1）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_0m8cld</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-16 20:09:30</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">未分配或者内网IP（169.254.158.7）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_0yklm4</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-16 20:25:44</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">nullnull（169.254.158.7）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_0uj1ve</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-16 20:25:44</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">nullnull（127.0.0.1）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_1ircni</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-16 20:33:50</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">nullnull（127.0.0.1）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_1acdrp</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-16 21:28:44</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">未分配或者内网IP（169.254.158.7）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_1ggpnt</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-17 09:49:13</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">nullnull（169.254.158.7）</td>
							
						</tr>
						<tr class="tdHasContorllor design-dropable-td">
							<td class=" first_td_head">Guest_1bbv4v</td>
							
							<td class=" "><span style=""> <i class="fa fa-tv"></i>
							</span></td>
							<td class=" "><span style="color:blue;"> <i
									class="fa fa-windows"></i>
							</span></td>
							<td class=" ">Chrome-53.0.2785.143</td>
							<td class=" ">2017-01-17 09:49:13</td>
							<td class="minSize ">
								<div class="r3-form-field  design-form-field " style=""
									id="0zambe" data-id="0zambe" data-eltype="field"
									data-field="297e1e87598db41901598db8c3da003f" data-mid="0rjmdv">
									<div class="row-fluid">

										<div class="span8" style=";;" id="el_ct_0zambe"></div>
									</div>
								</div>
							</td>
							<td class=" ">nullnull（127.0.0.1）</td>
							
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
